// Bootstrap variables

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #1177d1 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #5cb85c !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$primary:       $blue !default;
$secondary:     $gray-800 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Options
$enable-rounded: false !default;

// Body
$body-color:    $gray-800 !default;

// Fonts
$font-size-base: 0.9375rem !default;
$headings-font-weight:   300 !default;

// Navbar
$navbar-dark-hover-color:           rgba($white, 1) !default;
$navbar-light-hover-color:          rgba($white, .9) !default;

// Breadcrumbs
$breadcrumb-padding-y:              .25rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-margin-bottom:          0 !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

$breadcrumb-bg: $primary !default;
$breadcrumb-bg-hover: darken($primary, 15%) !default;
$breadcrumb-text-color: $white !default;
$breadcrumbdash: $gray-200 !default;
$breadcrumbdimmed: $gray-600 !default;

// Alerts
$alert-border-width:                0 !default;

$card-group-margin: .25rem;

$theme-colors: (
    primary: $primary,
    secondary: $gray-200,
    success: $success,
    info: $info,
    warning: $orange,
    danger: $danger,
    light: $gray-100,
    dark: $gray-800
);

// Import FontAwesome.
@import "../../boost/scss/fontawesome";

// Import All of Bootstrap
@import "../../boost/scss/bootstrap";

// Import Core moodle CSS
@import "../../boost/scss/moodle";


// Preset CSS

body {
    -webkit-font-smoothing: antialiased;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

.filemanager-container,
.filepicker-filelist {
    @extend .border;
}

// Rounded user pictures
.userpicture {
    border-radius: 50%;
}

// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.
.btn-outline-secondary {
    @include button-outline-variant($gray-600);
    border-color: $border-color;
}


// Aqui a gente começa a colocar nossas edições;

// PAGINA INICIAL

// #region-main > div:nth-child(3) > div.row.signin{
//     float: right;
// } comentei isso aqui porque tava com uma div estranha em cima da area de texto, e comentaram que fica melhor a logo do projeto no canto esquerdo.

#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.93);
    padding: 2.1rem;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
	border: none;
}

#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div {
    width: 330px;
}

#username {
    border-radius: .3rem;
    margin-bottom: 14px;
}

#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div > div.signinform > form > label:nth-child(2) {
	display: none;
}

#password {
    border-radius: .3rem;
    margin-bottom: 13px;
}

#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div > div.signinform > form > label:nth-child(4) {
	display: none;
}

#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div > div.signinform > form > div.sign-up-btn > button {
    border-radius: .3rem;

}

#guestlogin > button {
    border-radius: .3rem;
}

#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div > div.signinform > form > div.sign-up-btn {
	padding-bottom: 20px;
}

#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div > div.signinform > p > a {
	padding-top: 20px;
}

#page-footer > div > div.row > div.col-md-8
{
    padding-left: 0px;
}

#region-main > div.fpwonderbox > div > div > div > div.fpstartwrap > div > div > div > a > div > i {
	font-size: 2em !important;
}

#region-main > div.fpwonderbox > div > div > div > div.fpstartwrap > div > div > div {
	margin-left: 2px;
	margin-right: 2px;
}

#page-footer > div > div.row > div.col-md-8 > div.logininfo {
	display: none !important;
}

#page-footer > div > div.row > div.col-md-4 > div > ul, #page-footer > div > div.row > div.col-md-4 > div > div > ul {
	padding-left: 0 !important;
}


// Estilização da Navbar
#page-wrapper > nav > a > span.site-name.d-none.d-md-inline, #yui_3_17_2_1_1589266231260_100 > div.coursecontrols.nav-item.d-flex, #yui_3_17_2_1_1589266231260_99 {
	display: none !important;
}

#nav-notification-popover-container > div.popover-region-toggle.nav-link > i, #message-drawer-toggle-5eba491a55e875eba491a40bfc332 > i, .navbar-fhs .navbar-nav .nav-link {
	color: white !important;
}

#action-menu-toggle-1 > span > span.usertext.mr-1 {
	color: white !important;
}

.navbar-brand {
	padding-top: 0 !important;
}

#page-header > div > div > div > div:nth-child(1) > div.mr-auto > a > div > img {
	max-height: 50px;
	padding-left: 25px;
}

#page-header > div {
	padding-top: 20px !important;
}

#page-wrapper > nav > div.d-inline-block.mr-3 > button {
	background-color: #f4f4f4;
	border-color: #f4f4f4;
	color: #093f70;
}

.btn {
	border-radius: .3rem;
}

.btn-secondary {
	background-color: #f4f4f4;
}



// estilização dos cards da inicial;

#region-main .fp-blocks .container-fluid .row div .block-region .block {

border-top: 7px solid #39A5D0;

}


// bloco de ver blocos;
#page .blockpanelbtn {
    top: 3px;
}

// Página do course

.course-content .topics li .content .section li:hover {
    background-color: #f8f9fa;
}

.course-content .topics li .content h3.sectionname {
    border-top: 10px solid #39A5D0;
    background: #f8f9fa;
}

#page-header > div > div > div > div:nth-child(1) > div > a > div > div > h1 {
  font-weight: 600;
}


// badge de topico oculto

.badge-info {
  color: #e9ecef;
  background-color: #495057;

}

// setinha canto superior direito
.dropdown #action-menu-toggle-1 {
color: #f4f4f4;
}

.dropdown #action-menu-toggle-1:hover {
color: #ffffff;
}
