// Bootstrap variables

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #1177d1 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #5cb85c !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$primary:       $blue !default;
$secondary:     $gray-800 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Options
$enable-rounded: false !default;

// Body
$body-color:    $gray-800 !default;

// Fonts
$font-size-base: 0.9375rem !default;
$headings-font-weight:   300 !default;

// Navbar
$navbar-dark-hover-color:           rgba($white, 1) !default;
$navbar-light-hover-color:          rgba($white, .9) !default;

// Breadcrumbs
$breadcrumb-padding-y:              .25rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-margin-bottom:          0 !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

$breadcrumb-bg: $primary !default;
$breadcrumb-bg-hover: darken($primary, 15%) !default;
$breadcrumb-text-color: $white !default;
$breadcrumbdash: $gray-200 !default;
$breadcrumbdimmed: $gray-600 !default;

// Alerts
$alert-border-width:                0 !default;

$card-group-margin: .25rem;

$theme-colors: (
    primary: $primary,
    secondary: $gray-200,
    success: $success,
    info: $info,
    warning: $orange,
    danger: $danger,
    light: $gray-100,
    dark: $gray-800
);

// Import FontAwesome.
@import "../../boost/scss/fontawesome";

// Import All of Bootstrap
@import "../../boost/scss/bootstrap";

// Import Core moodle CSS
@import "../../boost/scss/moodle";


// Preset CSS

body {
    -webkit-font-smoothing: antialiased;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

.filemanager-container,
.filepicker-filelist {
    @extend .border;
}

// Rounded user pictures
.userpicture {
    border-radius: 50%;
}

// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.
.btn-outline-secondary {
    @include button-outline-variant($gray-600);
    border-color: $border-color;
}


// Aqui a gente começa a colocar nossas edições;

// PAGINA INICIAL

// #region-main > div:nth-child(3) > div.row.signin{
//     float: right;
// } comentei isso aqui porque tava com uma div estranha em cima da area de texto, e comentaram que fica melhor a logo do projeto no canto esquerdo.

#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div {
    border-radius: 10px;
    background-color: rgba(255,255,255,0.93);
    padding: 2.1rem;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
	border: none;
}

#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div {
    width: 330px;
}

#username {
    border-radius: .3rem;
    margin-bottom: 14px;
}

#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div > div.signinform > form > label:nth-child(2) {
	display: none;
}

#password {
    border-radius: .3rem;
    margin-bottom: 13px;
}

#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div > div.signinform > form > label:nth-child(4) {
	display: none;
}

#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div > div.signinform > form > div.sign-up-btn > button {
    border-radius: .3rem;

}

#guestlogin > button {
    border-radius: .3rem;
}

#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div > div.signinform > form > div.sign-up-btn {
	padding-bottom: 20px;
}

#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div > div.signinform > p > a {
	padding-top: 20px;
}

#page-footer > div > div.row > div.col-md-8
{
    padding-left: 0px;
}

#region-main > div.fpwonderbox > div > div > div > div.fpstartwrap > div > div > div > a > div > i {
	font-size: 2em !important;
}

#region-main > div.fpwonderbox > div > div > div > div.fpstartwrap > div > div > div {
	margin-left: 2px;
	margin-right: 2px;
}

#page-footer > div > div.row > div.col-md-8 > div.logininfo {
	display: none !important;
}

#page-footer > div > div.row > div.col-md-4 > div > ul, #page-footer > div > div.row > div.col-md-4 > div > div > ul {
	padding-left: 0 !important;
}


// Estilização da Navbar
#page-wrapper > nav > a > span.site-name.d-none.d-md-inline, #yui_3_17_2_1_1589266231260_100 > div.coursecontrols.nav-item.d-flex, #yui_3_17_2_1_1589266231260_99 {
	display: none !important;
}

#nav-notification-popover-container > div.popover-region-toggle.nav-link > i, #message-drawer-toggle-5eba491a55e875eba491a40bfc332 > i, .navbar-fhs .navbar-nav .nav-link {
	color: white !important;
}

#action-menu-toggle-1 > span > span.usertext.mr-1 {
	color: white !important;
}

.navbar-brand {
	padding-top: 0 !important;
}

#page-header > div > div > div > div:nth-child(1) > div.mr-auto > a > div > img {
	max-height: 50px;
	padding-left: 25px;
}

#page-header > div {
	padding-top: 20px !important;
}

#page-wrapper > nav > div.d-inline-block.mr-3 > button {
	background-color: #f4f4f4;
	border-color: #f4f4f4;
	color: #093f70;
}

.btn {
	border-radius: .3rem;
}

.btn-secondary {
	background-color: #f4f4f4;
}



// estilização dos cards da inicial;

#region-main .fp-blocks .container-fluid .row div .block-region .block {

border-top: 7px solid #39A5D0;

}


// bloco de ver blocos;
#page .blockpanelbtn {
    top: 3px;
}

// Página do course

.course-content .topics li .content .section li:hover {
    background-color: #f8f9fa;
}

.course-content .topics li .content h3.sectionname {
    border-top: 10px solid #39A5D0;
    background: #f8f9fa;
}

#page-header > div > div > div > div:nth-child(1) > div > a > div > div > h1 {
  font-weight: 600;
}


// badge de topico oculto

.badge-info {
  color: #e9ecef;
  background-color: #495057;

}

// cantinho superior direito e setinha
.usermenu .action-menu .menubar .action-menu-trigger .dropdown a.dropdown-toggle{
color: #f4f4f4;
}

.usermenu .action-menu .menubar .action-menu-trigger .dropdown a.dropdown-toggle:hover {
color: #ffffff;
}

.usermenu .action-menu .menubar .action-menu-trigger .dropdown a span.userbutton {
color: #f4f4f4!important;
}
.usermenu .action-menu .menubar .action-menu-trigger .dropdown a span.userbutton:hover {
color: #ffffff!important;
}

.usermenu .login {
  color: #F2F2F2;
}

.usermenu .login a{
  color: #F2F2F2;
}
.usermenu .login a:hover{
  color: #ffffff;
}


// iframe do h5p tava gigante, agora nao esta mais

#region-main div div.h5p-iframe-wrapper {
    max-width: 1020px!important;
}

// customização da index
//desktop
@media only screen and (min-width: 832px) {
	#page-login-index > #page-wrapper > #page {
		height: 100vh;
		min-height: 656.5px;
		background-image: url(http://classes.sead.ufpb.br/classes-bg-dsktp.jpg) !important;
		background-size: cover;
		background-position: bottom 0 right 0;
	}

	#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div {
		width: 340px;
		margin: 16px 0 65px 55px;
	}

	#page-footer .container {
		padding: 0 55px 0 55px;
	}
}

//mobile
@media only screen and (max-width: 500px) {
	#page-login-index > #page-wrapper > #page {
		height: auto;
		min-height: auto;
		background-image: url(http://classes.sead.ufpb.br/classes-bg-mob.jpg) !important;
		background-size: cover;
		background-position: center;
	}

	#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div {
		width: 100%;
		margin: 0 0 50px 0;
	}

	#back-to-top {
		display: none;
	}
}

//tablet
@media only screen and (min-width: 501px) and (max-width: 831px) {
	#page-login-index > #page-wrapper > #page {
		height: 100vh;
		min-height: 656.5px;
		background-image: url(http://classes.sead.ufpb.br/classes-bg-tablet.jpg) !important;
		background-size: cover;
		background-position: bottom 0 right 0;
	}

	#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div {
		width: 340px;
		margin: 16px 0 65px 55px;
	}

	#back-to-top {
		display: none;
	}
}

//tablet - ipad pro
@media only screen and (min-height: 1000px) and (max-width: 1024px) {
	#page-login-index > #page-wrapper > #page {
		height: 100vh;
		min-height: 656.5px;
		background-image: url(https://drive.google.com/uc?id=1_6hlqsrOBjz-dCo2xLcsM_ZZxz8UAaGE) !important;
		background-size: cover;
		background-position: bottom 0 right 0;
	}

	#region-main > div:nth-child(3) > div.row.signin > div.col-xl-3.push-xl-1.col-md-4 > div {
		width: 340px;
		margin: 16px 0 65px 55px;
	}
}

.dropdown-item.active, .dropdown-item:active {
    color: #ffffff!important;
}

// customização do footer
#footer-personalizado {
	display: flex;
	width: 100%;
}

.footer-copyright {
	display: flex;
	width: 50%;
	align-items: center;
}

.footer-logos {
	display: flex;
	width: 50%;
	direction: ltr;
	justify-content: flex-end;
	align-items: center;
}

.footer-logos img {
	margin: 10px;
}

#page-footer > div > nav, #theme_switch_link,
#page-footer > .container > a,
#yui_3_17_2_1_1589517425219_5193 > div.row > div.col-md-8 >
#page-footer > div > div.row > div.col-md-8 > div.sitelink,
#page-login-index > #page-wrapper > #page-footer > div > div.row,
#page-site-index > #page-wrapper > #page-footer > div > div.row,
#page-footer > div > div.row > div.col-md-8 > div.homelink,
#page-footer > div > div.row > div.col-md-8 > div.sitelink {
	display: none;
}

.helplink .icon {
	margin-left: 0 !important;
}

#back-to-top {
	bottom: 68px !important;
    right: 15px !important;
    display: none !important;
}


.action-menu .menubar .action-menu-trigger .dropdown .dropdown-menu .dropdown-item {
      color: #495057;
}


// MAIS EDIÇÕES DAS PÁGINAS DO CURSO

.path-course-view .completionprogress {
    margin-top: 13px!important;
}

.course-content img.activityicon {
  height: 22px!important;
  width: 22px!important;
}

.section .activity .contentwithoutlink>a, .section .activity .activityinstance>a {
    padding-top: 3px;
}


// Ícone do vlibras

#involucro-libras {
    width: 50px;
    height: 48px;
    background: #093f70;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 5px;
}

#involucro-libras .enabled {
  right: 21px;
  bottom: 21px;
  top: auto;
}

#involucro-libras .enabled .active .access-button {
  display: block;
  -moz-box-sizing: border-box;
  background: url(http://www.classes.sead.ufpb.br/icone-libras.png) no-repeat center;
  height: 37px;
  padding-top: 37px;
  background-size: 100%;
}

#involucro-libras .enabled .active .pop-up{
    max-height: 37px;
}


.current .content .sectionname {
  border-top: 10px solid #FFD287 !important;
}
